@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/** General appointment btn */
/** theme border customization */
/** header quick links buttons variable */
/** social buttons in footer */
.text-brand-primary-light, .hover-text-brand-primary-light:hover {
  color: #e4291b;
}
.text-brand-primary, .hover-text-brand-primary:hover {
  color: #e4291b;
}
.text-brand-primary-dark, .hover-text-brand-primary-dark:hover {
  color: #e4291b;
}
.text-brand-secondary-light, .hover-text-brand-secondary-light:hover {
  color: #30302f;
}
.text-brand-secondary, .hover-text-brand-secondary:hover {
  color: #30302f;
}
.text-brand-secondary-dark, .hover-text-brand-secondary-dark:hover {
  color: #30302f;
}
.text-gray, .hover-text-gray:hover {
  color: #bab8b3;
}
.text-white, .hover-text-white:hover {
  color: #fff;
}
.text-black, .hover-text-black:hover {
  color: #000;
}
.text-error, .hover-text-error:hover {
  color: #f00;
}
.text-warning, .hover-text-warning:hover {
  color: #ffae42;
}
.text-success, .hover-text-success:hover {
  color: #008000;
}
.bg-brand-primary-light, .hover-bg-brand-primary-light:hover {
  background-color: #e4291b;
}
.bg-brand-primary, .hover-bg-brand-primary:hover {
  background-color: #e4291b;
}
.bg-brand-primary-dark, .hover-bg-brand-primary-dark:hover {
  background-color: #e4291b;
}
.bg-brand-secondary-light, .hover-bg-brand-secondary-light:hover {
  background-color: #30302f;
}
.bg-brand-secondary, .hover-bg-brand-secondary:hover {
  background-color: #30302f;
}
.bg-brand-secondary-dark, .hover-bg-brand-secondary-dark:hover {
  background-color: #30302f;
}
.bg-gray, .hover-bg-gray:hover {
  background-color: #bab8b3;
}
.bg-white, .hover-bg-white:hover {
  background-color: #fff;
}
.bg-black, .hover-bg-black:hover {
  background-color: #000;
}
.bg-error, .hover-bg-error:hover {
  background-color: #f00;
}
.bg-warning, .hover-bg-warning:hover {
  background-color: #ffae42;
}
.bg-success, .hover-bg-success:hover {
  background-color: #008000;
}
.banner-section {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 535px;
}
@media (max-width: 992px) {
  .banner-section.inner-banner {
    height: auto;
    min-height: auto;
  }
}
@media (max-width: 992px) {
  .banner-section.inner-banner .content-part {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .banner-section.inner-banner .banner-content {
    height: 100%;
    align-content: space-between;
    justify-content: center;
    padding: 60px 0 40px;
  }
}
@media (max-width: 1200px) {
  .banner-section.inner-banner .home-mobile {
    width: 46%;
  }
}
@media (max-width: 992px) {
  .banner-section.inner-banner .home-mobile {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .banner-section.inner-banner .home-mobile {
    margin-right: -10px;
    width: auto;
  }
}
.banner-section .wrapper {
  height: 100%;
}
.banner-section .content-part {
  width: 535px;
}
@media (max-width: 350px) {
  .banner-section .buttons .read-more {
    margin-bottom: 10px;
  }
}
.banner-section .buttons .read-more:first-child {
  margin-right: 20px;
}
.banner-section .buttons span {
  margin-bottom: 0 !important;
}
.banner-section .home.home-mobile {
  position: absolute;
  bottom: 0;
  right: 170px;
  width: 40%;
  text-align: right;
}
@media (max-width: 1200px) {
  .banner-section .home.home-mobile {
    right: 0;
  }
}
@media (max-width: 767px) {
  .banner-section .home.home-mobile {
    position: relative;
    width: 90%;
    text-align: center;
  }
}
.banner-section.without-image {
  background-color: #faf2f3;
}
.banner-section.without-image .content-part h1, .banner-section.without-image .content-part p {
  color: #000;
}
.banner-section .inner-content span {
  display: block;
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .banner-section .inner-content span {
    margin-bottom: 12px;
  }
}
.banner-section .inner-content span a {
  color: #fff;
  font-size: 12.5px;
}
.banner-section .inner-content span a:hover {
  color: #e4291b;
}
@media (max-width: 767px) {
  .banner-section.home-page {
    height: auto;
    background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/26053207/mobile-banner.webp') !important;
  }
}
@media (max-width: 767px) {
  .banner-section.home-page .banner-content {
    width: 100%;
    height: 100%;
    align-content: space-between;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 0;
  }
}
@media (max-width: 1200px) {
  .banner-section.home-page .home-mobile {
    right: 0;
  }
}
@media (max-width: 767px) {
  .banner-section.home-page .home-mobile {
    position: relative;
    width: 80%;
    text-align: center;
    padding-top: 25px;
  }
}
@media (max-width: 767px) {
  #media-page .banner-section {
    background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/26064204/media-kits-background.webp') !important;
  }
  #postid189 .banner-section {
    background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/26064912/free-gift-or-sample-bg-1.webp') !important;
  }
}
.welcome-section {
  padding: 118px 0 107px;
}
@media (max-width: 1024px) {
  .welcome-section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .welcome-section {
    padding: 70px 0;
  }
}
@media (max-width: 1024px) {
  .welcome-section .wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .welcome-section .welcome-desc {
    padding-bottom: 60px;
  }
}
.welcome-section .welcome-desc p {
  letter-spacing: -0.29px;
  margin-bottom: 25px;
}
.welcome-section .welcome-desc .description {
  padding-right: 85px;
}
@media (max-width: 1200px) {
  .welcome-section .welcome-desc .description {
    padding-right: 0;
  }
}
.welcome-section .video-list-item .video-media {
  padding-right: 109px;
}
@media (max-width: 1200px) {
  .welcome-section .video-list-item .video-media {
    padding-right: 60px;
  }
}
@media (max-width: 1024px) {
  .welcome-section .video-list-item .video-media {
    padding-right: 0;
  }
}
.welcome-section .video-list-item .image-src {
  border-radius: 10px;
  overflow: hidden;
  padding-top: 75%;
}
.welcome-section .video-list-item .image-src .icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 126px;
  height: 80px;
  pointer-events: none;
}
.content.default-page {
  padding: 70px 0;
}
.benifits-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .benifits-section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .benifits-section {
    padding: 60px 0;
    background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/26061323/benifits-section-bg.webp') !important;
  }
}
.benifits-section .benifits-content {
  padding-right: 90px;
  width: 47%;
}
@media (max-width: 1200px) {
  .benifits-section .benifits-content {
    padding-right: 0;
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .benifits-section .benifits-content {
    width: 100%;
    padding-bottom: 13px;
  }
}
.benifits-section .benifits-content p {
  color: #fff;
  padding-bottom: 10px;
}
.benifits-section .benifits-content .read-more {
  display: inline-block;
}
@media (max-width: 1024px) {
  .benifits-section .benifits-content .read-more {
    display: none;
  }
}
.benifits-section .mob-btn {
  display: none;
}
@media (max-width: 1024px) {
  .benifits-section .mob-btn {
    display: block;
    padding-top: 35px;
  }
}
.benifits-section .iga-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 58px 66px;
  width: 53%;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .benifits-section .iga-section {
    width: 60%;
    padding: 58px 60px;
  }
}
@media (max-width: 1024px) {
  .benifits-section .iga-section {
    width: 100%;
    padding: 38px 20px;
  }
}
.benifits-section .iga-section .single-iga {
  position: relative;
  padding-left: 45px;
  padding-top: 0;
}
.benifits-section .iga-section .single-iga:not(:last-child) {
  padding-bottom: 26px;
}
.benifits-section .iga-section .single-iga:before {
  position: absolute;
  content: '';
  left: 0;
  top: 5px;
  width: 25px;
  height: 18px;
  background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/21041330/arrow-icon.png');
}
.benifits-section .iga-section .single-iga h3 {
  font-size: 20.48px !important;
  margin-bottom: 15px;
}
.connect-customer-section {
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .connect-customer-section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .connect-customer-section {
    padding: 80px 0 60px;
  }
}
.connect-customer-section .connect-listing {
  padding-top: 60px;
}
@media (max-width: 1024px) {
  .connect-customer-section .connect-listing {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .connect-customer-section .connect-listing {
    padding-top: 20px;
  }
}
.connect-customer-section .connect-listing .single-iga {
  padding: 0 20px;
  width: 20%;
  text-align: center;
}
@media (max-width: 1024px) {
  .connect-customer-section .connect-listing .single-iga {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .connect-customer-section .connect-listing .single-iga {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .connect-customer-section .connect-listing .single-iga {
    width: 100%;
  }
}
.connect-customer-section .connect-listing .single-iga h3 {
  font-size: 18px !important;
  font-weight: 700;
  margin-bottom: 3px;
}
.connect-customer-section .connect-listing .single-iga h4 {
  font-size: 18px !important;
  font-weight: 400;
  margin-bottom: 0;
}
.connect-customer-section .connect-listing .single-iga .icon-part {
  height: 108px;
  margin-bottom: 28px;
}
.connect-customer-section .connect-listing .single-iga .icon-part img {
  height: 100%;
  object-fit: contain;
}
.solution-section {
  background-color: #e4291b;
  overflow: hidden;
}
.solution-section .wrapper {
  padding: 80px 22px;
  height: 100%;
}
@media (max-width: 992px) {
  .solution-section .wrapper {
    padding: 70px 20px;
    padding-bottom: 0;
  }
}
.solution-section .solution-content {
  width: 100%;
}
.solution-section .content-part {
  width: 410px;
}
@media (max-width: 1200px) {
  .solution-section .content-part {
    width: 500px;
  }
}
@media (max-width: 767px) {
  .solution-section .content-part {
    width: 100%;
  }
}
.solution-section .content-part p {
  color: #fff;
  padding-bottom: 10px;
}
.solution-section .content-part .read-more {
  background-color: #fff;
  border-color: #fff;
  color: #e4291b;
}
.solution-section .content-part .read-more:hover {
  background-color: #e4291b;
  border-color: #fff;
  color: #fff;
}
.solution-section .home-tab {
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 54%;
}
@media (max-width: 992px) {
  .solution-section .home-tab {
    position: relative;
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 767px) {
  .solution-section .home-tab {
    right: 0;
  }
}
.about-us {
  background-color: #f1f1f1;
  padding: 59px 0;
}
@media (max-width: 767px) {
  .about-us {
    padding: 75px 0;
  }
}
.about-us .about-content {
  max-width: 448px;
  margin: auto;
}
.about-us .about-content p {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .about-us .about-content .read-more {
    display: block;
  }
}
.about-us .description {
  padding-bottom: 24px;
}
.case-studies {
  padding: 95px 0;
  background-color: #faf2f3;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .case-studies {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .case-studies {
    padding: 60px 0;
  }
}
.case-studies .case-studies-list {
  margin-left: -7px;
  margin-right: -7px;
}
@media (max-width: 767px) {
  .case-studies .case-studies-list {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.case-studies .case_studies {
  padding: 7px;
}
@media (max-width: 767px) {
  .case-studies .case_studies {
    padding: 10px;
  }
}
.case-studies .case_studies > a {
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  overflow: hidden;
  display: block;
}
.case-studies .case_studies > a:hover * {
  color: #e4291b;
}
.case-studies .case_studies img {
  width: 100%;
}
.case-studies .case_content {
  padding: 12px 15px;
}
.case-studies .case_content p {
  margin-bottom: 5px;
  font-size: 12.5px;
  color: #30302f;
}
@media (max-width: 480px) {
  .case-studies .case_thumb {
    height: 200px;
  }
  .case-studies .case_thumb img {
    height: 100%;
    object-fit: cover;
  }
}
.case-studies.case-studies-page {
  padding-bottom: 250px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .case-studies.case-studies-page {
    padding-bottom: 150px;
  }
}
@media (max-width: 767px) {
  .case-studies.case-studies-page {
    padding-bottom: 80px;
  }
}
.best-soluiton {
  background-color: #e4291b;
  padding: 72px 0 93px;
}
.best-soluiton .soluiton-content {
  max-width: 400px;
  margin: auto;
}
.best-soluiton .soluiton-content h2 {
  line-height: 1.5 !important;
}
.best-soluiton .soluiton-content p {
  line-height: 1.5;
  color: #fff;
}
.best-soluiton .soluiton-content .read-more {
  background-color: #fff;
  color: #e4291b;
  border-color: #e4291b;
}
.best-soluiton .soluiton-content .read-more:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.best-soluiton .description {
  padding-bottom: 34px;
}
.number-section {
  padding: 97px 0 150px;
}
@media (max-width: 1024px) {
  .number-section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .number-section {
    padding: 60px 0;
  }
}
.number-section .single-number {
  padding-top: 0;
}
@media (max-width: 767px) {
  .number-section .single-number:not(:last-child) {
    padding-bottom: 40px;
  }
}
.number-section .single-number h3, .number-section .single-number .h3 {
  font-size: 80.19px !important;
  color: #30302f;
  line-height: 1.1 !important;
}
@media (max-width: 1024px) {
  .number-section .single-number h3, .number-section .single-number .h3 {
    font-size: 70px !important;
  }
}
@media (max-width: 767px) {
  .number-section .single-number h3, .number-section .single-number .h3 {
    font-size: 61px !important;
  }
}
.number-section .single-number p {
  color: #30302f;
  font-weight: bold;
}
@media (max-width: 767px) {
  .number-section .single-number p {
    padding-top: 15px;
  }
}
.what-we-cover-section {
  padding: 93px 0;
}
@media (max-width: 767px) {
  .what-we-cover-section {
    padding: 70px 0;
  }
}
.what-we-cover-section .description {
  padding-right: 49px;
}
@media (max-width: 1024px) {
  .what-we-cover-section .description {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .what-we-cover-section .description {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .what-we-cover-section ul.options-listing li:not(:last-child) {
    padding-bottom: 41px;
  }
}
.we-offer-section {
  background-color: rgba(147, 12, 27, 0.05);
  padding: 6% 0;
}
@media (max-width: 767px) {
  .we-offer-section {
    padding: 70px 0 25px;
  }
}
.we-offer-section .inner-content {
  max-width: 499px;
}
@media (max-width: 767px) {
  .we-offer-section .inner-content {
    max-width: 100%;
    padding-bottom: 50px;
  }
}
.we-offer-section .inner-content h1, .we-offer-section .inner-content p, .we-offer-section .inner-content ul li {
  color: #30302f;
}
.we-offer-section .inner-content ul {
  list-style: none;
}
.we-offer-section .inner-content ul li {
  padding-left: 56px;
  position: relative;
}
.we-offer-section .inner-content ul li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 35px;
  width: 24px;
  height: 24px;
  background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/21041330/arrow-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.we-offer-section .inner-content ul li:first-child:before {
  top: 8px;
}
.we-offer-section .inner-content ul li + li {
  padding-top: 27px;
}
.media-kits {
  padding: 100px 0;
  background-color: #fff;
}
@media (max-width: 992px) {
  .media-kits {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .media-kits {
    padding: 60px 0;
  }
}
.media-kits .media-kits-list {
  margin-left: -7px;
  margin-right: -7px;
}
.media-kits .media-kits-list .slick-list {
  padding-left: 14px !important;
}
.media-kits .media-kits-list .slick-track {
  display: flex !important;
}
.media-kits .media-kits-list .slick-slide {
  height: inherit !important;
}
@media (max-width: 992px) {
  .media-kits .wrapper {
    padding: 0;
  }
}
.media-kits .media_kits {
  padding: 9px;
  margin-bottom: 8px;
}
.media-kits .media_kits > .inner-content {
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  overflow: hidden;
  display: block;
  height: 100%;
  position: relative;
  padding-bottom: 150px;
}
.media-kits .media_kits img {
  width: 100%;
}
.media-kits .media_kits.finding-package .inner-content {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #30302f;
}
.media-kits .media_kits.finding-package .single-button {
  padding-top: 36px;
}
.media-kits .media_kits.finding-package .single-button .read-more {
  display: block;
}
.media-kits .kits_thumb {
  height: 240px;
  background-color: #faf2f3;
}
.media-kits .kits_thumb img {
  height: 100%;
  object-fit: cover;
}
.media-kits .kits_content {
  padding: 30px 32px;
}
.media-kits .kits_content p {
  margin-bottom: 5px;
  color: #30302f;
}
.media-kits .kits-buttons {
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.media-kits .kits-buttons .single-button {
  padding: 4px 0;
}
.media-kits .kits-buttons .single-button .read-more {
  display: block;
}
.media-kits .kits-buttons .single-button.two_btn:first-child .read-more {
  background-color: #fff;
  color: #e4291b;
}
.media-kits .kits-buttons .single-button.two_btn:first-child .read-more:hover {
  background-color: #e4291b;
  color: #fff;
}
.download-media-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 100px;
}
@media (max-width: 992px) {
  .download-media-section {
    padding: 80px 0 70px;
  }
}
@media (max-width: 767px) {
  .download-media-section {
    padding: 60px 0 40px;
    background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/26070534/downalod-media-kits.webp') !important;
  }
  .download-media-section h2 {
    padding: 0 25px;
  }
}
.download-media-section .fsBody {
  max-width: 593px;
  margin: auto;
}
.download-media-section .fsBody #fsSubmit4578471 {
  text-align: center;
}
.download-media-section .fsBody #fsSubmit4578471 input {
  width: auto;
}
.download-media-section .fsBody #fsRow4578471-3 .fieldset-content label, .download-media-section .fsBody #fsRow4578471-3 .fieldset-content .fsSupporting {
  color: #fff;
}
.media-faq-section {
  padding: 100px 0;
}
@media (max-width: 992px) {
  .media-faq-section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .media-faq-section {
    padding: 60px 0;
  }
}
.media-faq-section ul.faq-listing {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  border: 1px solid #f1f1f1;
}
.media-faq-section ul.faq-listing li {
  border: 1px solid #f1f1f1;
  margin-left: 0;
  padding: 7px 0;
}
.media-faq-section ul.faq-listing li h6 {
  margin: 0;
  font-size: 18px;
  padding: 0;
}
.media-faq-section ul.faq-listing li h6 a {
  color: #453941;
  display: block;
  font-weight: 600;
  padding: 16px 40px 16px 29px;
  position: relative;
}
@media (max-width: 767px) {
  .media-faq-section ul.faq-listing li h6 a {
    padding: 16px 75px 16px 27px;
  }
}
.media-faq-section ul.faq-listing li h6 a:after, .media-faq-section ul.faq-listing li h6 a:before {
  content: "";
  display: block;
  position: absolute;
  top: 58%;
  background: #000;
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  transform: rotate(45deg);
}
.media-faq-section ul.faq-listing li h6 a:before {
  width: 17px;
  height: 4px;
  right: 79px;
  margin-top: -7px;
}
@media (max-width: 767px) {
  .media-faq-section ul.faq-listing li h6 a:before {
    right: 34px;
  }
}
.media-faq-section ul.faq-listing li h6 a:after {
  width: 4px;
  height: 17px;
  right: 75px;
  margin-top: -13.5px;
}
@media (max-width: 767px) {
  .media-faq-section ul.faq-listing li h6 a:after {
    right: 30px;
  }
}
.media-faq-section ul.faq-listing li h6 a.active:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.media-faq-section ul.faq-listing li h6 a.active:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.media-faq-section ul.faq-listing li .faq-content {
  display: none;
  padding: 0 29px 15px;
}
.media-faq-section ul.faq-listing li .faq-content p {
  margin: 0;
}
.media-faq-section ul.faq-listing li .faq-content ul li {
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.media-faq-section ul.faq-listing li .faq-content a {
  color: #e4291b;
  text-decoration: underline !important;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 0.51px;
}
#contact-page .default-page, #supplier-page .default-page {
  max-width: 598px;
  margin: auto;
}
#contact-page .default-page h1, #supplier-page .default-page h1 {
  padding-bottom: 15px;
}
.fsBody {
  padding-top: 15px;
}
.fsBody .fsRowBody {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.fsBody .fsSubmit input {
  background: #e4291b !important;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.6px;
  transition: 0.5s ease all;
  height: 48px;
  min-height: 48px;
}
.fsBody .fsSubmit input:hover {
  background: #000 !important;
}
.fsBody #fsRow4576551-4 label, .fsBody #fsRow4576555-1 label {
  display: none;
}
.fsBody #fsRow4576551-6 legend, .fsBody #fsRow4576555-2 legend, .fsBody #fsRow4578471-3 legend {
  display: none;
}
.fsBody #fsRow4576551-6 .fieldset-content, .fsBody #fsRow4576555-2 .fieldset-content, .fsBody #fsRow4578471-3 .fieldset-content {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .fsBody #fsRow4576551-6 .fieldset-content, .fsBody #fsRow4576555-2 .fieldset-content, .fsBody #fsRow4578471-3 .fieldset-content {
    display: block;
  }
}
.fsBody #fsRow4576551-6 .fieldset-content label, .fsBody #fsRow4576555-2 .fieldset-content label, .fsBody #fsRow4578471-3 .fieldset-content label {
  font-size: 16px;
  color: #30302f;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 767px) {
  .fsBody #fsRow4576551-6 .fieldset-content label, .fsBody #fsRow4576555-2 .fieldset-content label, .fsBody #fsRow4578471-3 .fieldset-content label {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    display: inline;
  }
}
.fsBody #fsRow4576551-6 .fieldset-content label input[type=checkbox], .fsBody #fsRow4576555-2 .fieldset-content label input[type=checkbox], .fsBody #fsRow4578471-3 .fieldset-content label input[type=checkbox] {
  margin-top: -3px;
}
@media (max-width: 767px) {
  .fsBody #fsRow4576551-6 .fieldset-content label input[type=checkbox], .fsBody #fsRow4576555-2 .fieldset-content label input[type=checkbox], .fsBody #fsRow4578471-3 .fieldset-content label input[type=checkbox] {
    margin-bottom: 15px;
  }
}
.fsBody #fsRow4576551-6 .fieldset-content .fsSupporting, .fsBody #fsRow4576555-2 .fieldset-content .fsSupporting, .fsBody #fsRow4578471-3 .fieldset-content .fsSupporting {
  margin: 0;
  color: #30302f;
  font-size: 16px;
  padding-left: 4px;
  display: inline;
}
.fsBody #fsRow4576551-6 .fieldset-content .fsSupporting a, .fsBody #fsRow4576555-2 .fieldset-content .fsSupporting a, .fsBody #fsRow4578471-3 .fieldset-content .fsSupporting a {
  color: #e4291b;
  font-weight: bold;
  text-decoration: underline !important;
  text-transform: inherit;
}
.fsBody #fsRow4576551-6 .fieldset-content .fsSupporting a:hover, .fsBody #fsRow4576555-2 .fieldset-content .fsSupporting a:hover, .fsBody #fsRow4578471-3 .fieldset-content .fsSupporting a:hover {
  color: #000;
}
.fsBody .fsRowBody input:not([type='checkbox']), .fsBody .fsForm textarea, .fsBody .fsSignature, .fsBody select {
  border: 1px solid #d1d0ce;
  border-radius: 6px;
  color: #acacac;
  padding: 14px 16px;
  transition: 0.3s ease all;
}
.fsBody .fsRowBody input:not([type='checkbox']):focus, .fsBody .fsForm textarea:focus, .fsBody .fsSignature:focus, .fsBody select:focus {
  border-color: #30302f !important;
}
.fsBody .fsRowBody input:not([type='checkbox'])::-webkit-input-placeholder, .fsBody .fsForm textarea::-webkit-input-placeholder, .fsBody .fsSignature::-webkit-input-placeholder, .fsBody select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari/Edge */
  color: #acacac;
}
.fsBody .fsRowBody input:not([type='checkbox'])::-ms-input-placeholder, .fsBody .fsForm textarea::-ms-input-placeholder, .fsBody .fsSignature::-ms-input-placeholder, .fsBody select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #acacac;
}
.fsBody .fsRowBody input:not([type='checkbox']):-ms-input-placeholder, .fsBody .fsForm textarea:-ms-input-placeholder, .fsBody .fsSignature:-ms-input-placeholder, .fsBody select:-ms-input-placeholder {
  /* IE 10+ */
  color: #acacac;
}
.fsBody .fsRowBody input:not([type='checkbox'])::-moz-placeholder, .fsBody .fsForm textarea::-moz-placeholder, .fsBody .fsSignature::-moz-placeholder, .fsBody select::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac;
}
.fsBody .fsRowBody input:not([type='checkbox']):-moz-placeholder, .fsBody .fsForm textarea:-moz-placeholder, .fsBody .fsSignature:-moz-placeholder, .fsBody select:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac;
}
.fsBody .fsRowBody input:not([type='checkbox'])::placeholder, .fsBody .fsForm textarea::placeholder, .fsBody .fsSignature::placeholder, .fsBody select::placeholder {
  color: #acacac;
}
.fsBody .fsRowBody input:not([type='checkbox']), .fsBody .fsSignature, .fsBody select {
  height: 48px;
}
.fsBody .fsForm textarea {
  height: 159px;
}
.fsBody .fsForm select {
  background-image: url('https://s3.ap-southeast-2.amazonaws.com/igamediacentre.metcdn.com/wp-content/uploads/2021/10/23153730/Select-Icon.webp');
  background-size: 20px auto;
  background-position: right 23px top 50%;
}
#contact-page .about-us {
  display: none;
}
@media (max-width: 767px) {
  #contact-page .about-us {
    display: block;
    margin-top: 120px;
  }
}
#contact-page .default-page {
  padding: 60px 0;
}
@media (max-width: 767px) {
  #supplier-page {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
#supplier-page .default-page {
  padding: 60px 0 180px;
}
.digital-specs-page {
  padding-bottom: 450px !important;
}
@media (max-width: 992px) {
  .digital-specs-page {
    padding-bottom: 300px !important;
  }
}
@media (max-width: 767px) {
  .digital-specs-page {
    padding-bottom: 200px !important;
  }
}
.digital-specs-page h1, .digital-specs-page p {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .digital-specs-page h1, .digital-specs-page p {
    margin-bottom: 20px;
  }
}
.digital-specs-page a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 0.51px;
  text-decoration: underline !important;
  color: #e4291b;
  text-transform: uppercase;
}
.digital-specs-page a:hover {
  color: #30302f;
}
.booking-form-section {
  padding: 120px 0 177px;
}
@media (max-width: 767px) {
  .booking-form-section {
    padding: 70px 0 177px;
  }
}
.booking-form-section .booking-content {
  background: #f1f1f1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 100px 0;
}
.booking-form-section .booking-content h1 {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .booking-form-section .booking-content .d-flex {
    flex-direction: column;
  }
  .booking-form-section .booking-content .d-flex .p-10 {
    padding: 9px;
  }
}
.booking-form-section .booking-content .d-flex .p-10:last-child .read-more {
  background-color: transparent;
  color: #e4291b;
}
.booking-form-section .booking-content .d-flex .p-10:last-child .read-more:hover {
  background-color: #e4291b;
  color: #fff;
}
.final-results {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background: #f1f1f1;
  padding: 74px 8px;
}
.final-results .final-results-link a {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 0.51px;
  color: #e4291b;
  text-transform: uppercase;
  text-decoration: underline !important;
}
.final-results .final-results-link a:hover {
  color: #30302f;
}
@media (max-width: 767px) {
  .final-results .media-kits .media_kits {
    padding: 20px;
  }
}
.get-started-block {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background: #f1f1f1;
  margin-bottom: 39px;
  padding: 74px 115px;
  text-align: center;
  display: block;
}
@media (max-width: 992px) {
  .get-started-block {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.get-started-block h2 {
  margin: 0 0 30px !important;
  font-family: 'Roboto', sans-serif;
  color: #30302f;
  font-weight: 900;
  line-height: 1.4 !important;
}
@media (max-width: 767px) {
  .get-started-block h2 {
    margin-bottom: 20px !important;
  }
}
.get-started-block .description {
  max-width: 518px;
  margin: auto;
  padding-bottom: 28px;
}
.start-here {
  padding-top: 125px;
}
@media (max-width: 992px) {
  .start-here {
    padding-top: 80px;
    padding-bottom: 275px !important;
  }
  .start-here .wrapper {
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .start-here {
    padding-bottom: 70px !important;
  }
}
.start-here h2 {
  margin: 0 0 10px;
  font-family: 'Roboto', sans-serif;
  color: #30302f;
  font-weight: 900;
  line-height: 1.4 !important;
}
.start-here form {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background: #f1f1f1;
  margin-bottom: 39px;
  padding: 74px 115px;
  text-align: center;
  display: none;
}
@media (max-width: 1200px) {
  .start-here form {
    padding: 74px 30px;
  }
}
@media (max-width: 767px) {
  .start-here form {
    padding: 70px 20px;
  }
}
.start-here form h2 {
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .start-here form fieldset:not(:first-child) .all-options {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 400px) {
  .start-here form fieldset:not(:first-child) .all-options {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.start-here .all-options {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 30px;
}
.start-here .all-options .single-option {
  padding: 10px;
  text-align: center;
  width: 33.33%;
}
@media (max-width: 767px) {
  .start-here .all-options .single-option {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
  }
}
.start-here .all-options .single-option .inner-block {
  background-color: #fff;
  color: #30302f;
  border-radius: 10px;
  padding: 25px 12px;
  position: relative;
  cursor: pointer;
  font-size: 21.6px;
  transition: 0.5s ease all;
}
.start-here .all-options .single-option .inner-block:hover {
  background-color: #e4291b !important;
  color: #fff !important;
}
.start-here .all-options .single-option .inner-block input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background-clip: content-box;
  outline: none;
}
.start-here input[type="button"], .start-here button {
  cursor: pointer;
  display: inline-block;
  margin-top: 0;
  padding: 13px 25px;
  text-transform: uppercase;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #e4291b;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: #e4291b;
  color: #fff;
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  letter-spacing: 0.51px;
  margin: 10px;
  outline: none;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .start-here input[type="button"], .start-here button {
    padding: 13px 22px;
  }
}
.start-here input[type="button"]:focus, .start-here button:focus, .start-here input[type="button"]:hover, .start-here button:hover, .start-here input[type="button"].primary, .start-here button.primary {
  border-color: #e4291b;
  background: transparent;
  color: #e4291b;
}
.start-here button {
  border-color: #e4291b;
  background: transparent;
  color: #e4291b;
}
.start-here button:focus, .start-here button:hover, .start-here button.primary {
  border-color: #e4291b;
  background: #e4291b;
  color: #fff;
}
.start-here .error-message-block {
  padding-top: 20px;
}
.start-here .error-message-block p {
  font-size: 23px;
  color: #e4291b;
  font-weight: bold;
}
.progress-first-step {
  background: #f1f1f1 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  height: 20px !important;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .progress-first-step {
    height: 15px !important;
  }
}
.progress {
  background: #f1f1f1 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  display: none;
}
@media (max-width: 767px) {
  .progress {
    height: 15px !important;
  }
}
.progress .progress-bar {
  background: #e4291b !important;
  font-size: 0 !important;
  box-shadow: none !important;
}
.progress.transparent_bar .progress-bar {
  background: transparent !important;
  width: 0 !important;
}
#starthere-page .about-us h2 {
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  color: #30302f;
  font-weight: 900;
  line-height: 1.4 !important;
}
div.fsError {
  display: none !important;
}
.fsValidationError {
  background: transparent !important;
  box-shadow: none !important;
  border: 1px solid #e4291b !important;
}
#thankyou-page .entry a:not(.read-more) {
  color: #e4291b;
}
#thankyou-page .entry a:not(.read-more):hover {
  color: #30302f;
}
